#myChart {
    max-width: 400px;
    max-height: 400px;
}
.bg-gray-light{
    background-color:  #f2f3f4 !important;
}

.hover-accordion:hover {
    background-color: lightgray;
}

.config-icons{
    color: #F66B0E; 
    font-size: 2rem;
}

.bg-product{
    background-color: #112B3C;
}

.bg-top-product {
    background-color: #F66B0E;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.opacity-0{
    visibility: hidden;
}