<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cobro</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cobro.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/cobro" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="/static/img/logo_fondo.svg" class="bi me-2" alt="SCDORT" height="32" role="img" aria-label="SCDORT">
                    </a>
    
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/cobro" class="nav-link text-white">
                                <i class="bi bi-house-door  d-block mx-auto mb-1" ></i>
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="/historial" class="nav-link text-white">
                                <i class="bi bi-clock-history d-block mx-auto mb-1"></i>
                                Historial
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="nav-link text-white">
                                <i class="bi bi-box-arrow-left d-block mx-auto mb-1"></i>
                                Cerrar sesión
                            </a>
                        </li>
                        <li>
                            <div class="nav-link text-white" disabled>
                                <i class="bi bi-person-circle d-block mx-auto mb-1"></i>
                                {{ username }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <form id="form-cobro">
                    <div id="product-list">
                        
                    </div>
                </form>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary mt-2 mb-1" onclick="Cobro.detect()"     id="detectar">DETECTAR</button>
                <button type="button" class="btn btn-danger mt-2 mb-1"  onclick="Cobro.stopDetect()" id="detener" style="display: none;">DETENER</button>
                <img id="video-stream" src="{{ url_for('video_feed') }}" width="640" height="480">
            </div>
        </div> 
    </div>

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/cobro.js') }}"></script>
</body>
</html>